@media (min-width: 1343px) and (max-width: 1500px) {}

@media (min-width: 1200px) and (max-width: 1342px) {}

@media (min-width: 992px) and (max-width: 1199px) {
    .banner_main .bluid h1 {
        font-size: 110px;
        line-height: 136px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .titlepage h2 {
        font-size: 37px;
        line-height: 41px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .airmic {
        margin-top: 40px;
        margin-bottom: 30px;
    }
}

@media (max-width: 575px) {
    header {
        padding: 33px 0px;
    }
    .d_none {
        display: none !important;
    }
    .logo {
        display: block;
        width: 144px;
        float: left;
    }
    .airmic {
        padding-top: 60px;
        margin-bottom: 30px;
    }
    .airmic h1 {
        font-size: 53px;
        line-height: 53px;
    }
    #top_section {
        height: 100%;
    }
    .banner_main .bluid .read_more {
        margin-right: 5px;
        max-width: 124px;
        height: 48px;
        line-height: 48px;
        font-size: 16px;
    }
    .titlepage h2 {
        font-size: 35px;
        line-height: 40px;
    }
    .mics {
        width: 290px;
    }
    .mics_icon {
        width: 261px;
    }
    .d_none {
        display: none;
    }
}