<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Groupie Tracker</title>
      <meta name="keywords" content="bands artist dates locations relation music musician members">
      <meta name="description" content="Groupie tracker">
      <meta name="author" content="">
      <link rel="stylesheet" href="/static/css/reset.css">
      <link rel="stylesheet" href="/static/css/styles.css">
      <link rel="stylesheet" href="/static/css/responsive.css">
   </head>
   <body>
      <header>
        <nav class="navbar">
            <div class="navbar-item logo">
                <a href="/">
                   <img
                       src="/static/images/logo.png"
                       alt="Logo"
                   />
                </a>
             </div>
             <div class="navbar-item links">
                <a href="/">Home</a>
                <a href="/artists">Artists</a>
             </div>
        </nav>
      </header>
      <main>
        <div class="container">
            <div class="row">
                <div class="col">
                    <figure><img src="/static/images/logo.png" alt="Music Image" style="border: 1px solid black; border-radius: 50%; opacity: .1;"/></figure>
                </div>
                <div class="col center">
                    <span style="padding-left: 2rem;">
                        <h1>Groupie Tracker</h1>
                        <p>The world revolves around music. While different cultures may have different food, drinks, leisure activities and behavior, there is one thing that truly unites us as human beings, Music. Music has proven to be one of those things that you will know when it hits you. Regardless of the language or tone of voice, music just seems to make you want to move. Unlike physical objects, as the father of modern reggae once put it, &quot;if it hits you, you will not feel the pain&quot;</p>
                        <p>This site was built to help you track your favorite music bands and artists effortlessly. Once connected, you can stay updated with the latest concerts, explore artist locations, and never miss a beat with real-time alerts. We are the perfect place for music enthusiasts who want to stay connected to the world of live performances.</p>
                    </span>
                </div>
            </div>
        </div>
      </main>
      <footer class="footer">
        <span>
            &copy;2024 groupietracker
        </span>
      </footer>
   </body>
</html>

