<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/artist.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="head-top">
                <div class="logo">
                    <a href="/">
                        <img src="/static/images/logo.png" alt="Logo" />
                    </a>
                </div>
                <div>
                    <a href="/">Home</a>
                    <a href="/artists">Artists</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="grid">
                <div class="grid-box">
                    <img src="{{ .Artist.Image }}" alt="artist image" class="artist-image" />
                    <div class="info-group">
                        <h2>First Album</h2>
                        <div class="artist-info">{{ .Artist.FirstAlbum }}</div>
                    </div>
                    <div class="info-group">
                        <h2>Members</h2>
                        <ul>
                            {{ range $member := .Artist.Members }}
                            <li>{{ $member }}</li>
                            {{ else }}
                            <li>No members found</li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
                <div class="grid-box">
                    <h2>Concerts & Locations</h2>
                    <div class="btn-container">
                        <a href="../relation/{{ .Artist.Id }}" class="btn">Relation</a>
                        <a href="../locations/{{ .Artist.Id }}" class="btn">Locations</a>
                        <a href="../dates/{{ .Artist.Id }}" class="btn">Dates</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <a class="logo_footer" href="#">
                <img src="/static/images/music.png" alt="Footer Logo" />
            </a>
            <div class="copyright">
                <p>© 2024 All Rights Reserved <a href="https://learn.zone01kisumu.ke/git/bbantu/groupie-tracker/">Groupie-Tracker</a></p>
            </div>
        </div>
    </footer>
</body>
</html>