<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="/static/dates.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="head-top">
                <div class="logo">
                    <a href="/">
                        <img src="/static/images/logo.png" alt="Logo" />
                    </a>
                </div>
                <div>
                    <a href="/">Home</a>
                    <a href="/artists">Artists</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <h1 class="title">{{ .Title }}</h1>
            <div class="concerts">
                {{range $date := .Dates}}
                <div class="concert-location">
                    <ul class="date-list">
                        <li>{{ $date }}</li>
                    </ul>
                </div>
                {{end}}
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <a class="logo_footer" href="#">
                <img src="/static/images/music.png" alt="Footer Logo" />
            </a>
            <div class="copyright">
                <p>© 2024 All Rights Reserved <a href="https://learn.zone01kisumu.ke/git/bbantu/groupie-tracker/">Groupie-Tracker</a></p>
            </div>
        </div>
    </footer>
</body>
</html>