<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- site metas -->
      <title>Groupie Tracker</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="stylesheet" href="/static/css/bootstrap.css">
      <link rel="stylesheet" href="/static/css/styles.css">
      <link rel="stylesheet" href="/static/css/responsive.css">
   </head>
   <!-- body -->
   <body>
      <header>
         <!-- header inner -->
         <div class="head-top">
            <div class="container-fluid">
               <div class="row d_flex">
                  <div class="col-sm-3">
                     <div class="logo">
                        <a href="/">
                           <img
                               src="/static/images/logo.png"
                               alt="Logo"
                               style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover; display: block; margin: auto;"
                           />
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header -->
      <div id="top_section" class="banner_main">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-6">
                  <div class="airmic">
                     <h1>Groupie Tracker</h1>
                     <p>Track your favorite music bands and artists effortlessly with
                         DiscoverBand. Stay updated with the latest concerts, explore 
                         artist locations, and never miss a beat with real-time alerts.
                         Perfect for music enthusiasts who want to stay connected to 
                         the world of live performances.
                     </p>
                     <a class="read_more" href="/artists">Go to Bands</a>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="mic_img">
                     <figure><img src="/static/images/hero.png" alt="Music Image"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end slider section -->
      <div class="separator"></div>     
      <!-- footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-12 text_align_center">
                     <img src="/static/images/music.png" alt="Footer Logo" style="width: 80px; height: 80px; border-radius: 50%;" />
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-10 offset-md-1 text_align_center">
                     <p>© 2024 All Rights Reserved. <a href="https://learn.zone01kisumu.ke/git/bbantu/groupie-tracker/">Groupie-Tracker</a></p>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
   </body>
</html>