<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Groupie Tracker</title>
      <meta name="keywords" content="bands artist dates locations relation music musician members">
      <meta name="description" content="Groupie tracker">
      <meta name="author" content="">
      <link rel="stylesheet" href="/static/css/reset.css">
      <link rel="stylesheet" href="/static/css/styles.css">
      <link rel="stylesheet" href="/static/css/responsive.css">
   </head>
   <body>
      <header>
        <nav class="navbar">
            <div class="navbar-item logo">
                <a href="/">
                   <img
                       src="/static/images/logo.png"
                       alt="Logo"
                   />
                </a>
             </div>
             <div class="navbar-item links">
                <a href="/">Home</a>
                <a href="/artists">Artists</a>
                <a href="/about">About</a>
             </div>
        </nav>
      </header>
      <main>
        <div class="container">
            <div class="row">
                <div class="col center">
                    <span style="padding-left: 2rem;">
                        <h1 style="font-weight: 100; font-size: xx-large; opacity: .5;">Groupie Tracker</h1>
                        <p>Track your favorite music bands and artists effortlessly with Groupie Tracker. Stay updated with the latest concerts, explore artist locations, and never miss a beat with real-time alerts. Perfect for music enthusiasts who want to stay connected to the world of live performances.</p>
                    </span>
                    <a class="link" href="/artists">Artists</a>
                    <a class="link" href="/about">About</a>
                </div>
                <div class="col">
                    <figure style="border-right: 3px solid black; border-left: 1px solid black; border-radius: 50% 50% 50% 50%;"><img src="/static/images/hero.png" alt="Music Image"/></figure>
                </div>
            </div>
        </div>
      </main>
      <footer class="footer">
        <span>
            &copy;2024 groupietracker
        </span>
      </footer>
   </body>
</html>
