<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/css/art.css">
    <link rel="stylesheet" href="/static/css/concerts.css"> <!-- Link to the concerts.css file -->
</head>
<body>
    <header>
        <div class="head-top">
            <div class="container">
                <div class="row d_flex">
                    <div class="col-sm-3">
                        <div class="logo">
                            <a href="/">
                                <img
                                    src="/static/images/logo.png"
                                    alt="Logo"
                                    style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover; display: block; margin: auto;"
                                />
                             </a>
                        </div>
                    </div>
                </div>
                <div>
                    <a href="/">Home</a>
                    <a href="/artists">Artists</a>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <h1 class="title">{{ .Title }}</h1>
    
            <div class="concerts">
                {{range $location, $dates := .Relation}}
                    <div class="concert-location">
                        <h3 class="location-title">{{$location}}</h3>
                        <ul class="date-list">
                            {{range $dates}}
                                <li>{{ . }}</li>
                            {{end}}
                        </ul>
                    </div>
                {{end}}
            </div>    
        </div>
    </main>

    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <a class="logo_footer" href="#">
                            <img src="/static/images/music.png" alt="Footer Logo" style="width: 80px; height: 80px; border-radius: 50%;" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="copyright text_align_center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <p>© 2020 All Rights Reserved <a href="https://learn.zone01kisumu.ke/git/bbantu/groupie-tracker/">Groupie-Tracker</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
